.playerText{
  margin: 10px;
  color: white;
}

.playerImage{
  width: 70px;
  height: 70px;
  padding: 5px;
  display: -webkit-flex; /* Safari */
  display: flex;
}

.roomcode {
  font-size: 1.5em;
  text-shadow: 5px 2px #000;
  vertical-align: middle;
}

.waiting {
  text-align: center;
}

.domain {
  font-size: 1.2em;
  text-shadow: 5px 2px #000;
}

.everyone {
  color: #000;
}

.textBackground {
  background-color:  rgba(0,0,0,.5);
  padding: 10px;
  line-height: 2.5em;
}
